body{
    padding: 0px;
    margin: 0px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    height: 25px;
    padding: 24px 100px 24px 72px;
}

nav .left-tag p{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
}
nav .left-tag p span{
    color:#27A365;
}
nav div .search-bar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #F2F2F2;
    width: 360px;
    height: 42px;
    border-radius: 21px;
}
nav div .search-bar img{
    font-size: 14px;
    padding-left: 20px;
}
nav div .search-bar input{
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #F2F2F2;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    width: 290px;
    border: none;
    outline: none;
    padding-left: 20px;
}
nav .right-tag p{
    display: inline-block;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-align: right;
    color: #2E2E2E;
}
nav .right-tag p span{
    color: blue;
}

section .img-header{
    font-size: 2em;
    background-image: url('media/Rectangle2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* width: 100%; */
    height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}
section .img-header p{
    
    color: #FFFFFF;
    padding-bottom: 1em;
    padding-top: 0px;
    margin-top: 0px;
    padding-left: 200px;
    font-size: 0.6em;
    /* line-height: 23px; */
}
section .img-header h3{
    
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    /* line-height: 47px; */
    color: #FFFFFF;
    padding-bottom: 0em;
    margin: 0px;
    padding-left: 200px;
}

section .wrt-post{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 24px 200px 20px 200px;
}
section .wrt-post .post a{
    margin: 10px;
}
section .wrt-post .join-grp{
    display: flex;
    flex-direction: row;
    align-items: center;
}
section .wrt-post .join-grp p,button{
    margin: 8px;
    font-family: IBM Plex Sans;
    font-style: normal;
}
section .wrt-post .join-grp p{
    padding: 8px 8px 8px 12px;
    background-color: #EDEEF0;
    border-radius: 4px;

}
section .wrt-post .join-grp p span{
    padding: 8px;
    
}
section .wrt-post .join-grp button{
    padding: 8px 20px 8px 12px;
    background-color: #2F6CE5;
    border: none;
    border-radius: 4px;
    color: white;
    outline: none;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
}
section .wrt-post{
    border-bottom: 1px solid #EDEEF0;
}
section .wrt-post .post a{
    font-family: IBM Plex Sans;
    font-style: normal;
    color: #8A8A8A;
    text-decoration: none;
}
section .wrt-post .post :first-of-type{
    color: black;
}
/* .material-icons{
    padding: 0px 8px 0px 8px;
    font-size: 15px;
} */
.ppl-posts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 28px 200px 10px 200px;

}
.div1{
    width: 692px;
}
.div2{
    width: 243px;
}
.div1 article{
    padding: 0px 20px 20px 20px;
}
.div1 article h2{
    display: inline-flex;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    height: 25px;
    color: #000000;
    padding: 0px;
    margin-bottom: 0px;
}
.div1 article h2 img{
    height: 25px;
    padding-right: 5px;
}
.div1 article .dotted{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.div1 article .dotted h3{
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    width: 96%;

}
.div1 article .dotted .three-dot{
    width: 4%;
    padding-top: 26px;
    font-size: 30px;
}
.post-content{
    border: 1px solid #EDEEF0;
    border-radius: 4px;
}
.post-cont>div{
    margin-bottom: 20px;
}
.post-content .post-img{
    width: 690px;
}
.post-content article .ihave{
    font-family: IBM Plex Sans;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    color: #5C5C5C;
    margin-top: 0px;
    padding-top: 0px;
}
.post-content article .profile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.post-content article .profile .share{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.post-content article .profile .profile-pic{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.post-content article .profile .profile-pic span{
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    padding-left: 10px;
}
.post-content article .profile .share p{
    font-family: IBM Plex Sans;
    font-weight: 100;
    padding: 0px 40px 0px 9px;
}
.post-content article .profile .share .triangle{
    background-color: #EDEEF0;
    padding: 10px 12px;
    border-radius: 4px;
    font-size: 18px;
}
.post-content article .profile .share .visi{
    color: #525252
}
.post-content article .profile .share p{
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #525252;
}



.div2 .loca{
    border-bottom: 0.4px solid #B8B8B8;
    padding: 0px 0px 14px 0px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    font-weight: 100;
    color: #000000;

}

.div2 .loca .edit{
    float: right;
    
}
.div2 .error{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 20px;
}
.div2 .error span{
    padding-top: 10px;
    color: #000000;
}
.div2 .error p{
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    opacity: 0.5;
}
/* .ppl-posts .div1 .post-content:nth-of-type(n){
    margin-bottom: 20px;
} */
@media(max-width: 1200px){
    .ppl-posts .div2{
        display: none; 
    }
    .wrt-post{
        display: none;
    }
    .wrt-post .post{
        display: none;
    }
    .wrt-post .join-grp p{
        display: none;
    }
    .wrt-post .join-grp button{
        display: none;
    }
    .img-header p{
        font-size: 2em;
        padding-bottom: 4em;
    }

}
@media(max-width: 1080px){
    nav .left-tag p{
        display: none;
    }
    nav .right-tag p{
        display: none;
    }
    
    .svb{
        width: 100%;
    }
    section .img-header{
        width: 63%;
        background-size: cover;
    }
    /* .div1,.post-cont,.post-content,.post-img,.dotted{
        width: 100%;
    } */
    .ppl-posts{
        
        padding: 0px 0px 0px 10px;
    }
}
@media(max-width: 1024px){
    .ppl-posts{
        padding: 0px 0px 0px 0px;
    }
    section .img-header{
        width: 68%;
        background-size: cover;
    }
}
@media(max-width: 990px){
    .svb{
        width: 100%;
        margin-right: 0px;
        padding-right: 0px;
    }
    .div1 .post-cont{
        width: 100%;
    }
    .ppl-posts{
        padding: 0px 0px 0px 0px;
    }
    nav{
        padding-left: 10px;
        padding-right: 10px;
        
    }
    .img-header p{
        font-size: 2em;
        padding-bottom: 3em;
    }
    
}
@media(max-width: 800px){
    .ppl-posts{
        padding: 0px 0px 0px 0px;
    }
}
@media(max-width: 768px){
    section .img-header{
        width: 95%;
        background-size: cover;
    }
}
@media(max-width: 750px){
    .ppl-posts{
        padding: 0px 30px 0px 30px;
    }
    /* nav .left-tag p{
        display: none;
    }
    nav .right-tag p{
        display: none;
    } */
}
@media(max-width: 700px){
    .ppl-posts{
        padding: 0px 20px 0px 10px;
    }
    section .img-header{
        width: 100%;
        height: 40vh;
        background-size: cover;
    }
    section .img-header h3{
        padding-left: 20px;
    }
    section .img-header p{
        padding-left: 20px;
    }
    
}
@media(max-width: 540px){
    section .img-header{
        width: 128%;
        background-size: cover;
    }
}
@media(max-width: 414px){
    section .img-header{
        width: 170%;
        background-size: cover;
    }
}
@media(max-width: 411px){
    section .img-header{
        width: 170%;
        background-size: cover;
    }
}
@media(max-width: 375px){
    section .img-header{
        width: 188%;
        background-size: cover;
    }
}
@media(max-width: 360px){
    section .img-header{
        width: 190%;
        background-size: cover;
    }
}
@media(max-width: 320px){
    section .img-header{
        width: 220%;
        background-size: cover;
    }
}
@media(max-width: 280px){
    section .img-header{
        width: 250%;
        background-size: cover;
    }
}

/* Thank you */